<script src="/scripts/draw.js" type="text/javascript"></script>
<script src="/assets/socket.io.js" type="text/javascript"></script>

<div class="container-fluid">
  <div class="row justify-content-center mt-4">
    <div id="canvas-container">
    </div>
  </div>
  <div class="row justify-content-center mt-1">
    <div >
      <h1 class="text-center text-primary display-3">Draw!</h1>
      <div class="row" id="canvas-controls">
        <h5 class="ml-3 mt-2" id="stroke-color-picker">Stroke Color:</h5>
        <h5 class="ml-3 mt-2" id="stroke-width-picker">Stroke Width:</h5>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-save-canvas" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Save Board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Title of your Drawing</label>
            <input type="text" class="form-control" id="board-title" placeholder="Enter title" value="">
          </div>
          <div class="form-group">
            <label>Notes</label>
            <textarea class="form-control" id="board-notes" placeholder="Enter notes" value=""></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-btn">Save</button>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="err-alert" style="display: none">
          <strong>Woah!</strong> Looks like you missed a couple fields.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
