<script src="./draw.js" type="text/javascript"></script>
<script src="/assets/socket.io.js" type="text/javascript"></script>
<link rel="stylesheet" href="../css/draw.css">

<div id="canvas-container">

</div>
