<script src="/scripts/index.js" type="text/javascript"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-4 mt-5 ml-5">
      <button type="button" class="btn btn-primary border ml-1">Login/Register</button>
      <!-- make button hidden if logged in -->
      <h2>My Boards</h2>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <form class="form-inline ml-5">
          <input class="form-control ml-5" type="search" placeholder="Search" aria-label="Search Boards">
          <button class="btn btn-outline-success ml-5" type="submit">Search</button>
        </form>
      </nav>
    </div>
    <div class="col-7 mt-5">

    </div>
  </div>
</div>


<!-- <div id="modal-question" class="modal">
  <div class="modal-content">
    <input type="text" id="question-text" name="title" value="">
    <input type="button" class="submit" id="create-question" value="Ask">
    <input type="button" class="close" value="Cancel">
  </div>
</div>

<h1 id="sub-header">Notes!</h1>

<form method="POST" id="add-notes">
  <label>Title</label>
  <input class="add-field" type="text" name="title">
  <label>Body:</label>
  <input class="add-field" type="text" name="notes">
  <input class="review-field" type="submit">
</form>

<div id="my-notes">
  <table>
    {{#each notes}}
    <tr id="row-headers">
      <th>{{title}}</th>
       <th><a style="color:red" href="/delete/{{_id}}">x</a></th> !!!!!!!!!!!!!!!!
    </tr>
    <tr>
      <th>{{notes}}</th>
    </tr>
    {{/each}}
  </table>
</div> -->
